apiVersion: apps/v1
kind: Deployment
metadata:
  name: welcome-app-deployment
  namespace: demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: welcome-app
  template:
    metadata:
      labels:
        app: welcome-app
    spec:
      containers:
        - name: welcome-app
          image: docker.io/greeshma258/jenkins:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80

